<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

    <!--arg name="laser_enabled" default="$(optenv HUSKY_LASER_ENABLED true)"/>
  <arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)"/>
  <arg name="kinect_enabled" default="$(optenv HUSKY_KINECT_ENABLED false)"/-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find mybot_gazebo)/worlds/willogarage.world"/-->
    <!--arg name="world_name" value="$(find mybot_gazebo)/worlds/turtlebot_playground.world"/-->
    <arg name="world_name" value="$(find moor_description)/worlds/moor_environment.world"/>
    <!--arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/-->
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  <!--param name="robot_description" command="$(find xacro)/xacro '$(find mybot_gazebo)/urdf/mybot.xacro'"/-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find mybot_gazebo)/urdf/mybot_camera_1.6.xacro'"/>

  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
  args="-urdf -param robot_description -model moor -x 15 -y 15 -z 0 -R 0 -P 0 -Y 0"/>

  <!--include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include-->
<!--node name="static_tf0" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0  /world /map 100"/-->

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 5"/>

<!--node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint" args="0.0 0.0 0.0 0.0 0.0 0.2 /odom /base_link 100" /-->
   <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
   <remap from="/odometry/filtered" to="/odom_imu_wheel"/>
    <rosparam command="load" file="$(find moor_navigation)/config/localization.yaml" />

  </node>

  <!-- Combine joint values -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   <!-- to capture image, rosrun image_grabber ifcapture and press p-->
  <node name="image_grabber" pkg="image_grabber" type="image_grabber"/>
</launch>
